In [1]:
import yfinance as yf

In [5]:
ticker = "BBAS3"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [6]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-11 00:00:00-03:00,27.730000,27.900000,27.420000,27.799999,14793700,0.0,0.0
2025-04-14 00:00:00-03:00,27.969999,28.209999,27.870001,28.070000,13391400,0.0,0.0
2025-04-15 00:00:00-03:00,28.030001,28.120001,27.700001,27.770000,25468600,0.0,0.0
2025-04-16 00:00:00-03:00,27.780001,27.889999,27.379999,27.650000,21762700,0.0,0.0
2025-04-17 00:00:00-03:00,27.680000,27.780001,27.299999,27.430000,17336900,0.0,0.0

In [9]:
def get_ticker_data(ticker, period):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=period)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)
    #Limitar em 30 resultados
    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::slice_size][::-1]

    return hist.to_json()

In [10]:
hist = get_ticker_data(ticker, "1y")
hist

'{"2025-04-14":28.07,"2025-04-02":28.35,"2025-03-21":28.37,"2025-03-11":27.72,"2025-02-25":28.23,"2025-02-13":27.45,"2025-02-03":27.61,"2025-01-22":26.13,"2025-01-10":24.21,"2024-12-27":24.11,"2024-12-13":24.51,"2024-12-03":24.7,"2024-11-21":24.61,"2024-11-07":25.52,"2024-10-28":25.65,"2024-10-16":26.08,"2024-10-04":26.17,"2024-09-24":26.68,"2024-09-12":27.51,"2024-09-02":27.51,"2024-08-21":28.2,"2024-08-09":25.7,"2024-07-30":26.09,"2024-07-18":26.32,"2024-07-08":25.45,"2024-06-26":25.86,"2024-06-14":25.61,"2024-06-04":25.72,"2024-05-22":25.98,"2024-05-10":26.09,"2024-04-29":26.03,"2024-04-17":26.42}'